/* Fuente */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("fonts/Lato-Thin"), local("fonts/Lato-thin");
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(235, 235, 235);
}

/* Estilos 7hr
CATEGORÃAS */

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
    width: 90%;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
    border-radius: 3%;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.category-link {
    height: 100%;
    width: 100%;
    /* position: relative; */
    padding-top: 40%;
    font-size: 1.4rem;
    transition: all .2s;
    border-radius: 3%;
    border: 1px solid rgba(200, 200, 200, 0.719);

}

.category-link:hover {
    /*background-color: rgba(192, 192, 192, 0.602);
    opacity: .8;*/
    font-size: 1.8rem;
    transition: all .2s;
    border-radius: 3%;
    box-shadow: 2px 2px 3px gray;
    border: 1px solid rgba(200, 200, 200, 0.719);
}


/* Estilos PÃ¡gina LOGIN */

.form-signin {
    width: 100%;
    max-width: 440px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* Estilos PÃ¡gina REGISTER */

.form-register {
    max-width: 330px;
    width: 100%;
    max-width: 440px;
    padding: 15px;
}

.register-body {
    background-color: #f5f5f5;
}


/* Estilos MiscelÃ¡neos */

.border-left-blue {
    border-left: 4px solid rgb(2, 117, 216);
}

.border-left-gray {
    border-left: 4px solid rgb(195, 195, 195);
    font-size: 0.85rem;
}

.resize_font_awesome_14 {
    font-size: 14px;
}

.oferta-productos{

    transition: ease-in-out 0.1s;

}

.oferta-productos:hover{

    transform: scale(1.02, 1.02);
    transition: ease-in-out 0.1s;
    box-shadow: 1px 1px 1px 2px #bd2130;

}

.img-zoom {
    transition: ease-in-out 0.2s;
    /*border: 0.5px solid floralwhite;*/
    box-shadow: 1px 1px 1px 2px lightgray;
    border-radius: 8px;
}

.img-zoom:hover {
    transform: scale(1.05, 1.05);
    transition: ease-in-out 0.2s;
    box-shadow: 1px 1px 1px 2px #bd2130;
}

/*.img-zoom-seleccion-tienda {
    transition: ease-in-out 0.4s;
    border: 0.5px solid floralwhite;
    box-shadow: 1px 1px 1px 2px lightgray;
}*/

.img-zoom-seleccion-tienda {
    transition: ease-in-out 0.4s;
    box-shadow: 1px 1px 1px 2px #07050d;
}

/* FLIP */

.flip-container {
    background-color: transparent;
    width: 300px;
    height: 300px;
    /* border: 1px solid #ccc; */
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.revealed {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 5rem; */
}

.front {
    /* background-color: #ff0000; */
    color: #fff;
}

.back {
    background-color: white;
    /* color: white; */
    transform: rotateY(180deg);
    overflow-y: auto;
    height: 300px;
    position: relative;
}

.btn-producto {
    /* position: absolute; */
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .5rem;
    margin-right: .5rem;
}

.btn-semaforo {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.btn-locales {
    position: absolute;
    bottom: 0;
    margin-bottom: .3rem;
}

/* INICIO DE LISTADO DE BACKGROUNDS PERSONALIZADOS */

.bg-navbar-crimson{
    background-color: crimson;
}

.bg-navbar-cadetblue{
    background-color: cadetblue;
}

.bg-navbar-gray{
    background-color: #d3d9df;
}

.bg-navbar-white{
    background-color: white;
}

.bg-navbar-red-gsj{
    background-color: #bd2130;
}

.bg-navbar-amarillo-gsj{
    background-color: #ffc107;
}

.bg-body-login{

    background-color: #474747;
}

.bg-body{

    background-color: #474747;
}

/* FIN DE LISTADO DE BACKGROUNDS PERSONALIZADOS */

.text-gray{
    color: #ececf6;
}

.text-cadetblue{
    color: cadetblue;
}

.text-red-gsj{

    color: #bd2130;
}

.text-dark:hover{

    text-shadow: 0 0 1px #454d55;
}

/* FIN DE LISTADO DE COLOR DE FUENTES PERSONALIZADAS */

.text-darkcyan{
    color: darkcyan;
}

.text-section-blue{

    color: #007bff;
}

.bg-badge-blue{

    background-color: #007bff;
}

.form-control:focus{

    border: solid 1px #5a5a5a;
    box-shadow: none;
}

textarea{

    border: 1px solid  gray;
}

textarea:focus{

    /*border: 1px solid black;*/
    outline: 2px solid #bd2130;
}


.alinear-font-awe{

    position: static;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

a.dropdown-item:hover{

    background-color: #d6d8d9;
    border-radius: 2px;

}

.dropdown-menu{

    border-radius: 4px;
    padding: 0px;
}

.navbar-toggler{

    cursor: pointer;
}

.navbar-toggler:focus{

    background-color: #0b2e13;
}

.fs-shopping-car{

    font-size: 1rem;
}

.box-shadow{

    box-shadow: 0 0 2px white;
}




/* INICIO CUSTOM FOOTER*/

.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-dark .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    opacity:0.75;
}

.footer-dark .item.social > a:hover {
    background-color: rgba(0, 0, 0, .3);
    opacity:0.9;
    box-shadow:0 0 0 1px white;
}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}

.footer-dark-border-top{
    border-top: 2px solid #bd2130;
}

.fa-icon-facebook{

    color: #3b5998;
}

.fa-icon-twitter{

    color: #00acee;
}

.fa-icon-instagram{

    color: #DD2A7B;
}

.fa-icon-whatsapp{

    color: #00bb2d;
}

/* FIN CUSTOM FOOTER*/


/* PRUEBA CON CAPTION AL HACER OVER */

.caption-style-1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

.caption-style-1 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style-1 li:hover .caption{
    opacity: 1;

}


.caption-style-1 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.caption-style-1 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;

}
.caption-style-1 .blur{
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.caption-style-1 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
}
.caption-style-1 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top:100px;
}

.margin-carrusel-movil{

    margin-bottom: 400px;
}

.input-width-movil{

    width: 65%;
}

.sombra-interior{
    box-shadow: inset 0px 0px 260px #ffffff; /* Sombra interior */
    border-left: solid 4px #bd2130;
}

.text-shopping-car-desktop{
    font-size: 0.90rem;
    line-height: 1rem;
    color: black;
}

.text-shopping-car-movil{
    font-size: 0.65rem;
    line-height: 0.60rem;
    color: black;
}

.ancho-input-shopping-car-movil-view{
    width: 30px;
}

.border-shopping-car-left{
    border-bottom: 3px solid #bd2130;
}

.border-shopping-car-right{
    border-bottom: 3px solid #ffc107;
}

.border-shopping-car-top{
    border-top: 3px solid #bd2130;
}

/* NOTIFICACIONES EN CARRITO DE COMPRAS*/

.budgecard {
    /*background-color: #f4f4f4;*/
    height: 30px;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    border-radius: 10px;
    transition: ease-in-out 0.1s;
    margin-right: 6px;
}

.budgecard:hover {
    height: 30px;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    transition: ease-in-out 0.1s;
    margin-right: 6px;
    color: #000;
    /*border: 1px solid white;*/
}

.notification i {
    font-size: 32px;
    color: #1b1c24;
    position: relative;
}

.notification-sm i {
    font-size: 32px;
    color: #1b1c24;
    position: relative;
}

.notification .badge {
    left: 119px;
    position: absolute;
    top: -3px;
    margin-bottom: 32px;
    background-color: #bd2130;
    height: 17px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    color: #f4f4f4;
    width: 17px;

}

.notification-sm .badge {
    left: 11px;
    position: absolute;
    top: -3px;
    margin-bottom: 32px;
    background-color: #bd2130;
    height: 17px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    color: #f4f4f4;
    width: 17px;

}

.height-hablador{
    height: 120px;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador-habladores{

    margin-bottom: 104px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    padding: 2px;
    border-radius: 4px;

}

.separador-habladores-xl{

    margin-bottom: 50px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    padding: 2px;
    border-radius: 4px;

}

.fuente-precios-old{
    font-size: 3rem;
    font-weight: border;
}

.fuente-precios-reconvertidos{
    font-size: 4.5rem;
    font-weight: border;
    text-shadow: 1px 1px 1px black;
}

.fuente-precios-reconvertidos-s{
    font-size: 3rem;
    font-weight: border;
    text-shadow: 1px 1px 1px black;
}

.alternar:hover{ background-color:#B9F8F8;}